html, body  {
	margin: 0;
	padding: 0;
}

body  {
	font-family: 'Iceland', cursive;
	font-weight: 100;
  background-image: url("links/subtlenet2.png");
}

.container  {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}

.header {
  background: url(links/mechanicus_jumbo.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 800px;
  text-align: left;
}

.header .container  {
	position: relative;
	top: 200px;
}

.header h1  {
	font-family: 'Iceland', cursive;
	color: #fff;
	line-height: .7em;
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 60px;
	text-transform: uppercase;
}

@media (min-width:850px)  {
	.header h1 {
		font-size: 120px;
  }
}

.header p {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 60px;
	margin-top: 0;
	text-transform: uppercase;
}

.btn  {
	color: #fff;
	background: #000;
	padding: 10px 40px;
	text-decoration: none;
	transition: background .5s;
}

.main a {
  text-decoration: none;
	color: #c10f0f;
}

.main a:hover {
  text-decoration: none;
	color: gray;
}

.nav  {
	background: #000;
	height: 80px;
	width: 100%;
}

.nav ul {
	height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.nav ul li  {
	color: #fff;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	list-style: none;
	padding: 0 10px;
	transition: background .5s;
}

.btn:hover, .nav ul li:hover  {
	background: #c10f0f;
	cursor: pointer;
	transition: background .5s;
}

span	{
	color: #c10f0f;
}

.main .container  {
	margin: 80px auto;
}

.main img {
	float: left;
	margin: 50px 60px 40px 0;
}

.main img:hover {
	float: left;
}

.jumbotron  {
	background: url(links/mechanicus_header.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 600px;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h2 {
	color: #fff;
	text-align: right;
}

.jumbotron p  {
	color: #fff;
	text-align: right;
}

.jumbotron .btn {
	margin: 10px 0 0;
	float: right;
}

.footer {
	background: #000;
	height: 80px;
}

.footer p {
	color: #fff;
	font-size: 14px;
	height: 80px;
	line-height: 80px;
	margin: 0;
}

@media (max-width: 500px) {
  .header h1  {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
